scenes/transition_scene/assets/materials/world_environment_texture/rustig_koppie_puresky_8k.hdr filter=lfs diff=lfs merge=lfs -text
scenes/transition_scene/transition_scene.blend filter=lfs diff=lfs merge=lfs -text
scenes/transition_scene/transition_scene.blend1 filter=lfs diff=lfs merge=lfs -text
